* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
body {
	background-color: #DADFE1;
}
header {
	background-color: #BDC3C7;
	text-align: center;
}
main {
	font-family: "Droid Sans", sans-serif;
	margin: 20px 30px;
}
footer {
	background-color: #BDC3C7;
	font-family: "Droid Sans", sans-serif;
	font-size: 15px;
	font-style: italic;text-align: right;
	padding-bottom: 5px;
	padding-right: 30px;
	padding-top: 20px;
}
span {
	color: #1F3A93;
	font-weight: 700;

}
h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.5em;
	font-weight: 900;
	padding-bottom: 15px;
	padding-top: 20px;
}
h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	font-weight: 500;
}
p {
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	font-weight: 300;
	padding-bottom: 10px;
	padding-top: 2px
}
img {
	height: 250px
}
a {
	color: #1F3A93;
	text-decoration: none;
}
ul {
	font-family: 'Roboto', sans-serif;
	font-size: .9em;
	font-weight: 300;
	padding-top: 2px;
	list-style-position: inside;
}
#logo {
	color: #446CB3;
	font-family: 'Droid Sans', sans-serif;
	font-size: 6em;
	font-weight: 400;
	padding-top: 10px;
}
#slogan {
	font-family: 'Droid Sans', sans-serif;
	font-size: 1.5em;
	font-style: italic;
	font-weight: 500;
	padding: 15px;
}
